<div class="page">
  <h2>Welcome, <%= @user_name %></h2>
  <h3><%= @user_name %>, choose your move</h3>

  <div class="moves">
    <!-- <a href="play/rock"><i class="far fa-hand-rock"></i>Rock</a>
    <a href="play/paper"><i class="far fa-hand-paper"></i>Paper</a>
    <a href="play/scissors"><i class="far fa-hand-scissors"></i></i>Scissors</a> -->
    <button type="button" name="button">Rock</button>
    <button type="button" name="button">Paper</button>
    <button type="button" name="button">Scissors</button>

  </div>
</div>
