<div class="page">
  <h2>Welcome, <%= @user_name %></h2>
  <h3><%= @user_name %>, choose your move</h3>

  <div class="moves">
    <button type="button" name="rock">Rock</button>
    <button type="button" name="paper">Paper</button>
    <button type="button" name="rock">Scissors</button>
  </div>
</div>
