<div class="page">
  <h2>Welcome, <%= @user_name %></h2>
  <h3><%= @user_name %>, choose your move</h3>

  <div class="moves">
    <a href="rock"><i class="far fa-hand-rock"></i>Rock</a>
    <a href="paper"><i class="far fa-hand-paper"></i>Paper</a>
    <a href="scissors"><i class="far fa-hand-scissors"></i></i>Scissors</a>
  </div>
</div>
