<h2>Register</h2>

<form class="register" action="/" method="post">
  <label for="user_name">Name</label>
  <input id="user_name" type="text" name="user_name">
  <button type="submit" name="button">Submit</button>
</form>
